* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #001f3f;
  font-family: 'Montserrat', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  height: 100vh;
}

.generator {
  display: flex;
  align-items: center;
}

.generator i {
  padding-right: 10px;
  animation-name: icona;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes icona {
  0% {
    transform: scale(1.3);
    color: #f92e56;
  }
}

h3 {
  color: black;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 10px;
  padding: 0px 10px;
}

h3:hover {
  color: #f92e56;
  cursor: pointer;
}
