* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #27474e;
  font-family: 'Montserrat', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  height: 100vh;
}

.title {
  display: flex;
  align-items: center;
}

.title i {
  padding-right: 10px;
  animation-name: icona;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes icona {
  0% {
    transform: scale(1.3);
    color: lightgrey;
  }
}

h2 {
  color: black;
  padding: 0 10px;
}
